html{
  background-color:black;
}

body {
    margin : 0px;
    overflow: hidden;
}
.arjs-loader {
  display: flex;
justify-content: center;
align-items: center;

}


.arjs-loader img {

  position: fixed;
  width: 60%;
  top:25%;
  left:20%;

}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

#totem {
    -webkit-animation: flickerAnimation 3s 3;
    
    animation: flickerAnimation 3s 3;
    
}

.a-loader-title{
display:none !important;
}