/* Optional styling for loader */
.arjs-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader image styling */
.arjs-loader img {
  position: fixed;
  width: 60%;
  top: 25%;
  left: 20%;
}
